<!DOCTYPE html>
<html>
  <head>
    <title>MadLibs Story!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    <h1>Hello From Afar</h1>
    <p>Dear @Model.Name,</p>
    <p>One day, @Model.Person1 and @Model.Person2 were walking through the woods, when suddenly a giant @Model.Animal appeared.</p>
    <p>"@Model.Exclamation", @Model.Person1 cried.</p>
    <p>The two of them @Model.Verb as quickly possible, and when they were safe, @Model.Person1 and @Model.Person2 gave each other a giant @Model.Noun.</p>
    <p>Cheers,</p>
    <p>MadLib Team</p>
  </body>
</html>

